<footer class="ff-manrope">
  <div class="content-1">
    <div class="box-1">
      <div class="logos">
        <img
          src="../../../assets/images/logo.png"
          alt="Logo"
          class="img-logo1"
        />
        <img
          src="../../../assets/images/logo-meteoblie.png"
          alt="Logo"
          class="img-logo2"
        />
      </div>
      <p>© 2006 - 2023</p>
      <p>ISO 9001:2015 certificate</p>
      <img
        src="../../../assets/images/logos/logo-tec.png"
        alt="Logo-Tec"
        class="img-logo-tec"
      />
    </div>
    <div class="join-us">
      <p>Join us</p>
      <img
        src="../../../assets/images/logos/yt-logo.png"
        alt="Logo Youtube"
        class="img-logo-join"
      />
      <img
        src="../../../assets/images/logos/linkedin-logo.png"
        alt="Logo Linkedin"
        class="img-logo-join"
      />
    </div>
    <div class="features">
      <p>Mapa do Site</p>
      <p>Início</p>
      <p>Novo App</p>
      <p>APIs</p>
      <p>Contato</p>
      <p>Login</p>
    </div>
  </div>
  <hr />
  <div class="content-2">
    <img
      src="../../../assets/images/logos/logo-ebp.png"
      alt="Logo EBP"
      class="img-logo-ebp"
    />
    <p class="fs-small">
      EBP Brasil é uma empresa Suíça, com mais de 40 anos de história no
      país,<br />
      parceira do CLIMA no Campo desde o início do projeto em 2022.
    </p>
  </div>
  <hr />
  <div class="content-3">
    <p class="fs-small">
      © 2023 - Todos os direitos reservados às detentoras das marcas neste
      Portal de Serviços (Vendedor, Parceiro, meteoblue, EBP AG e MediaCentre
      Network)
    </p>
    <div class="text-area">
      <p class="link-text">Termos de uso |</p>
      <p class="link-text">Política de Privacidade |</p>
      <p class="link-text">Tratamento de Dados Pessoais</p>
    </div>
  </div>
</footer>
<img
  src="../../../assets/images/assinatura.png"
  alt="Assinatura"
  class="img-assinatura"
/>
