<header class="ff-manrope" id="header">
  <nav>
    <div class="inicio">
      <a href="#"
        ><img
          class="logo-meteoblue"
          src="../../../assets/images/logo.png"
          alt="Logo da aplicação Meteoblue"
      /></a>

      <button class="btn-border-green-small">Inicio</button>

      <button class="btn-transparent-small">Novo App</button>

      <a href="#" class="link-api">APIs</a>
    </div>

    <div class="final">
      <button class="btn-green-large">Contato</button>

      <div class="link-text btn-entrar"><a href="#">Entrar</a></div>
    </div>
  </nav>
</header>
