<div class="ff-manrope content-1">
  <div class="column">
    <h3>App de Previsão do Tempo</h3>
    <br />
    <p class="fs-small">
      Com Radar e Dados Georreferenciados de suas Propriedades.
    </p>
    <div class="context">
      <div class="title">
        <h1>R$1,00</h1>
        <h3>/dia</h3>
        <p class="fs-small text-1">*R$365,00 por ano</p>
      </div>
      <button class="btn-green-large margin-button-bottom">Saiba mais</button>
      <div class="features">
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Previsão detalhada e confiável.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Informações abrangentes sobre o clima.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Dados em tempo real.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Suporte a tomada de decisões.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Acesso a imagens de satélite e radar.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Mapas de chuvas e ventos integrados.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h3>API’s para meu App</h3>
    <br />
    <p class="fs-small">
      Com nossas API’s, você acessa de forma rápida e segura uma vasta gama de
      dados e funcionalidades, criando soluções mais eficazes para sua empresa.
    </p>
    <div class="context">
      <button class="btn-green-large margin-button-top margin-button-bottom">
        Solicite uma chave teste
      </button>
      <div class="features padding-feature-bottom">
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Eficiência no Desenvolvimento.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Integração Simplificada.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Ampliação de Funcionalidades.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Escalabilidade.</p>
        </div>
        <div class="list-item">
          <img
            class="img-icon"
            src="../../../assets/images/icons/icon1.png"
            alt="icon-correct"
          />
          <p class="fs-small texts">Redução de Custos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ff-manrope content-2">
  <h1>Quer saber mais novidades e lançamentos no Brasil?</h1>
  <form>
    <input
      type="text"
      class="input"
      id="email"
      name="email"
      placeholder="Digite seu email"
      [(ngModel)]="formulario.email"
    />
    <button type="submit" class="btn-green-medium btn-inscrever-se">
      Inscrever-se
    </button>
  </form>
</div>
