<h1 class="ff-manrope">
  Provemos o maior pacote de dados,<br />
  mapas e análises agrometeorológicas no mundo.
</h1>
<div class="ff-manrope content">
  <div class="card-atributos">
    <div class="text-area">
      <h2 class="title-1">I.A. Multimodelo</h2>
      <p class="fs-normal text-1">
        Nossa inteligência artificial processa, compara e analisa mais de 40
        modelos meteorológicos em todo o mundo afim de compreender os diferentes
        biomas, terrenos e microclimas para prover o melhor dado para cada ponto
        no globo.
      </p>
    </div>
    <div class="image1-area">
      <img class="image1" src="../../../assets/images/bhu.png" />
    </div>
  </div>
  <div class="card-atributos">
    <div class="image2-area">
      <img class="image2" src="../../../assets/images/image2.png" />
    </div>
    <div class="text-area">
      <h2 class="title-2">Qualquer Geocoordenada</h2>
      <p class="fs-normal text-2">
        Você sabia que não é preciso uma estação meteorológica para
        Georreferenciar seus Dados?
      </p>
      <br />
      <p class="text-2">
        Como fornedor global de dados, estamos prontos para prover dados em
        qualquer ponto no Brasil. Basta informar sua geocoordenada que o nosso
        sistema carrega todos os dados disponíveis para o seu ponto de
        monitoramento.
      </p>
    </div>
  </div>
  <div class="card-atributos">
    <div class="text-area">
      <h2 class="title-2">Amplo Conjunto de Dados</h2>
      <p class="fs-normal text-2">
        São mais de 100 variáveis disponíveis, com dados de previsão e
        simulações históricas, de hora em hora. Evapotranspiração, cobertura de
        nuvens, radiação solar, umidade foliar, umidade do solo, ventos e
        rajadas etc.
      </p>
    </div>
    <div class="image3-area">
      <img class="image3" src="../../../assets/images/1971.png" />
    </div>
  </div>
  <div class="card-atributos">
    <div class="image4-area">
      <img class="image4" src="../../../assets/images/bjk.png" />
    </div>
    <div class="text-area">
      <h2 class="title-2">Dados Históricos desde 1940</h2>
      <p class="fs-normal text-2">
        meteoblue® coopera cientificamente com diferentes institutos e projetos
        no mundo para melhor compreender o clima, colaborar para a melhor
        compreensão das mudanças climáticas e assim prover dados históricos de
        qualidade.
      </p>
    </div>
  </div>
  <div class="ultimo-card">
    <div class="text-area">
      <h2 class="title-1">Análise de Risco</h2>
      <p class="fs-normal text-1">
        Todos esses atributos somados nos permitem prover análises de risco
        confiáveis, para qualquer ponto no planeta com base em uma grande massa
        de dados, inteligência artificial aplicada e metodologia científica.
      </p>
      <button class="btn-border-green-large btn-ver-mais">Ver mais</button>
    </div>
    <div class="image5-area">
      <img class="image5" src="../../../assets/images/11184.png" />
    </div>
  </div>
</div>
