.content-1 {
  padding: 5rem 5rem 2rem 5rem;
  gap: 3rem;
  text-align: center;
}

.content-1 p {
  color: var(--cor-primaria3);
}

.content-1 h1 {
  color: var(--cor-primaria4);
}

.content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem 3rem 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.content-3 {
  background: linear-gradient(263.87deg, #3f51b3 5.39%, #4cae4f 60.24%);
  padding: 5rem;
}

.img-size {
  width: 50%;
  height: 50%;
}
