<div class="ff-manrope content-1">
  <p class="ff-manrope subtitle">ALGUMAS MARCAS QUE</p>
  <h1>Já confiam em nossos dados</h1>
</div>
<div class="ff-manrope content-2">
  <div class="column">
    <img
      class="img-size"
      src="../../../assets/images/logos/microsoft-logo.png"
    />
    <img
      class="img-size"
      src="../../../assets/images/logos/adecoagro-logo.png"
    />
    <img class="img-size" src="../../../assets/images/logos/pessl-logo.png" />
    <img class="img-size" src="../../../assets/images/logos/agraria-logo.png" />
  </div>
  <div class="column">
    <img class="img-size" src="../../../assets/images/logos/siemens-logo.png" />
    <img
      class="img-size"
      src="../../../assets/images/logos/citrosuco-logo.png"
    />
    <img
      class="img-size"
      src="../../../assets/images/logos/airnavigation-logo.png"
    />
    <img class="img-size" src="../../../assets/images/logos/cocamar-logo.png" />
  </div>
  <div class="column">
    <img
      class="img-size"
      src="../../../assets/images/logos/syngenta-logo.png"
    />
    <img class="img-size" src="../../../assets/images/logos/ldc-logo.png" />
    <img
      class="img-size"
      src="../../../assets/images/logos/marinetraffic-logo.png"
    />
    <img
      class="img-size"
      src="../../../assets/images/logos/bomfuturo-logo.png"
    />
  </div>
  <div class="column">
    <img
      class="img-size"
      src="../../../assets/images/logos/365farmnet-logo.png"
    />
    <img
      class="img-size"
      src="../../../assets/images/logos/adamaclima-logo.png"
    />
    <img class="img-size" src="../../../assets/images/logos/copacol-logo.png" />
    <img class="img-size" src="../../../assets/images/logos/windy-logo.png" />
  </div>
</div>
<div class="ff-manrope content-3"></div>
