<div class="ff-manrope content-1">
  <p class="ff-manrope subtitle">CONSULTE JÁ A NOSSA EQUIPE</p>
  <h1>Obtenha relatórios personalizados!</h1>
  <button class="btn-green-large btn-contato">Contato</button>
</div>

<div class="ff-manrope content-2">
  <h1>Mapas em <br />alta resolução!</h1>
  <br />
  <p class="fs-normal">
    Simples e fácil de navegar. <br />São mais de 20 mapas para uso na
    Agricultura.<br />Teste agora mesmo essa ferramenta incrível em tempo real!
  </p>
  <button class="btn-green-large btn-experimente">Experimente agora</button>
</div>
