<div class="ff-manrope layout">
  <div class="content">
    <h1>CLIMA no Campo®</h1>
    <h1>é a marca da meteoblue para o Agro no Brasil.</h1>
    <div class="container">
      <a href="#"
        ><img
          class="logo"
          src="../../../assets/images/logo.png"
          alt="Logo da aplicação Meteoblue"
      /></a>
      <a href="#"
        ><img
          class="logo-meteoblue"
          src="../../../assets/images/logo-meteoblie.png"
          alt="Texto da aplicação Meteoblue"
      /></a>
    </div>
    <p class="fs-small">
      meteoblue® é o provedor global de dados e mapas meteorológicos para
      centenas de milhares de Empresas, Integradores, Startups, Apps e
      utilizadores em mais de 100 países, uma empresa Suíça de classe mundial
      com a mais alta precisão publicamente documentada.
    </p>
  </div>
</div>
